/***************  Testing fonts  ******************/
@font-face {
	font-family: 'standard_ct_lightlight';
	src: url('standardct_light_macroman/standard-light-webfont.eot');
	src: url('standardct_light_macroman/standard-light-webfont.eot?#iefix') format('embedded-opentype'),
	url('standardct_light_macroman/standard-light-webfont.woff2') format('woff2'),
	url('standardct_light_macroman/standard-light-webfont.woff') format('woff'),
	url('standardct_light_macroman/standard-light-webfont.ttf') format('truetype'),
	url('standardct_light_macroman/standard-light-webfont.svg#standard_ct_lightlight') format('svg');
}
@font-face {
	font-family: 'standard_ct_medium';
	src: url('standardct_medium_macroman/standard-medium-webfont.eot');
	src: url('standardct_medium_macroman/standard-medium-webfont.eot?#iefix') format('embedded-opentype'),
	url('standardct_medium_macroman/standard-medium-webfont.woff2') format('woff2'),
	url('standardct_medium_macroman/standard-medium-webfont.woff') format('woff'),
	url('standardct_medium_macroman/standard-medium-webfont.ttf') format('truetype'),
	url('standardct_medium_macroman/standard-medium-webfont.svg#standard_ct_lightlight') format('svg');
}
/* STANDARD LIGHT */
body {
	font-family: 'standard_ct_lightlight', Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
}
/* Facets: facet value; */
.available-facets .section-content .md-chips .md-chip strong span{
	font-family: 'standard_ct_lightlight', Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-weight: 100;
}


/* STANDARD MEDIUM */
/* Brief results: document title  */
prm-brief-result .item-title {
	font-family: 'standard_ct_medium', 'standard_ct_lightlight', Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-weight: 100;
}
/* Facets: facets label; */
.section-title-header, .sidebar-header {
	font-family: 'standard_ct_medium', 'standard_ct_lightlight', Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-weight: 100;
	font-size: 1.17em;
}
/* Availability */
prm-search-result-availability-line {
	font-family: 'standard_ct_medium', 'standard_ct_lightlight', Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-weight: 100;
}

/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
/*************************** Central Package CSS ******************************/
/******************************************************************************/
/******************************************************************************/
/******************************************************************************/


/***************  Navigation  ******************/

/*Font Navigation and buttons*/
#mainMenu > div > a, button#signInBtn, button#more-links-button, prm-topbar > div > prm-user-area-expandable > md-menu > button > span {
    font-size: small !important;
    font-weight: 500 !important;
}
    /*hover effect Navigation and buttons*/
    #mainMenu > div > a:hover, button#signInBtn:hover, prm-topbar > div > prm-user-area-expandable > md-menu > button:hover, button#more-links-button:hover,
    prm-search-bookmark-filter > a:hover, a#favorites-button:hover, a#search-button:hover, .md-button.button-as-link:hover:not([disabled]) {
        background-color: #ddd !important;
        color: #111 !important;
    }
/*remove capitalized text*/
.md-button {
    text-transform: none;
}
    /*Menu button*/
    button.button-with-menu-arrow.md-button.md-primoExplore-theme.md-ink-ripple:hover, button#signInBtn, .md-button.button-link,
    .md-button.button-as-link.link-alt-color, prm-icon md-icon, .section-title prm-icon, prm-icon.rotate-180, svg#chevron-up,
    span.user-name, span.menu-arrow, .md-button.button-as-link, #sidebar-trigger > prm-icon > md-icon {
        color: #111 !important;
    }
/*hide hover effect on Library Logo*/
#banner > a.md-button.md-primoExplore-theme.md-ink-ripple:hover {
    background: none;
}
/*background buttons*/
prm-search-bookmark-filter .md-button {
    background-color: #fff !important;
}
/*hiding Refworks from the pulldown menu*/
.my-refworks-ctm, .my-refworks-separator-ctm {
    display: none;
}
/*switch to advanced search button*/
button.switch-to-advanced.zero-margin.button-with-icon.md-button.md-primoExplore-theme.md-ink-ripple {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}
.md-button.button-confirm {
    border: 1px solid #ffffff;
}
/*the main color border on mobile view*/
@media (max-width: 599px) {
    prm-topbar .top-nav-bar {
        border-bottom-style: solid;
        border-bottom-width: 8px;
    }
}
/***************  Main Content  ******************/

/*backgound of the Textboxes Homepage*/
prm-search > div > md-content, md-card.default-card._md.md-primoExplore-theme {
    background-color: #fff !important;
    border-radius: 3px;
}

/*first header of the Textboxes*/
.cardbox h1 {
    font-size: 48px;
    line-height: 56px;
}

/*second header of the Textboxes*/
.cardbox h2 {
    font-size: 32px;
    line-height: 36px;
}
/*third header of the Textboxes (if needed)*/
.cardbox h3 {
    font-size: 26px;
    line-height: 30px;
}

/*removes the upper and lower space in a list */
.cardbox ul, .cardbox ol {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
/*links in the textboxes*/
md-card-content a, prm-service-details a {
    color: #222222 !important;
}
md-card-content a, prm-service-details a, div.courier-info > span a {
    text-decoration: underline !important;
}

    md-card-content a:hover, prm-service-details a:hover {
        color: #111;
        background-color: rgba(47, 47, 47, 0.1) !important;
}

/*Responsive Video Frame*/
.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/*footer layout*/
md-card.prm-primary-bg.psfooter {
    margin: 16px 0 0 0;
}
/*footer layout*/
md-card.prm-primary-bg.psfooter-legal {
    margin: 1px 0 0 0;
}
/*Responsive footer layout*/
@media (min-width: 960px) {

    md-card-content.prm-primary-bg.layout-align-gt-sm-end-stretch.flex-gt-sm-70 {
        text-align: end;
    }
}
/*footer links*/
md-icon.ps_icon, a.ps_link {
    margin-right: 5%;
    text-decoration: underline;
}

    /*md-icon.ps_icon:hover, a.ps_link:hover, a.ps_link.legal:hover, span.legal a:hover {
        background-color: rgba(61,110,148,.1) !important;
    }*/


/*footer text*/
md-card-content.prm-primary-bg {
    font-weight: 300;
}


/*links in the legal part of the footer*/
a.ps_link.legal, span.legal {
    font-size: small;
    font-weight: 300;
}

    /************************************************************************************************
span.legal {
    color: #14413c;
}
*/
    span.legal > a {
        /*color: #14413c;*/
        font-weight: 600;
    }

/*main container width for footer positioning*/
prm-static.md-padding.flex {
    min-width: 100%;
    padding: 0;
}

/*mainly white background*/
.prm-primary-bg.prm-hue1, prm-atoz-search-bar.prm-hue1, prm-browse-search-bar.prm-hue1, prm-collection-gallery-header .prm-hue1.collection-header-inner, prm-newspapers-search-bar.prm-hue1, prm-search-bar.prm-hue1, prm-spinner.prm-hue1.overlay-cover.light-on-dark:after, prm-tags-search-bar.prm-hue1, prm-topbar .top-nav-bar, prm-tree-nav prm-spinner .prm-hue1.diamond {
    background-color: #fff !important;
}


/*font color on white background*/
.hoverable-over-dark, .md-button.button-over-dark, prm-main-menu[menu-type=full] .md-button.md-focused, prm-main-menu[menu-type=full] .md-button .md-input-container-dummy > .md-select-dummy:focus, prm-main-menu[menu-type=full] .md-button:focus, prm-main-menu[menu-type=full] .md-button:hover, prm-main-menu[menu-type=full] .md-button md-select:focus, prm-main-menu[menu-type=full] .overlay-menu-item.md-focused, prm-main-menu[menu-type=full] .overlay-menu-item .md-input-container-dummy > .md-select-dummy:focus, prm-main-menu[menu-type=full] .overlay-menu-item:focus, prm-main-menu[menu-type=full] .overlay-menu-item:hover, prm-main-menu[menu-type=full] .overlay-menu-item md-select:focus, prm-main-menu[menu-type=full] md-button:focus, prm-main-menu[menu-type=full] md-button:hover, prm-topbar .md-button, prm-user-area .md-button.user-menu-button, prm-user-area md-fab-toolbar ._md-fab-action-item .md-button, prm-user-area md-fab-toolbar ._md-fab-action-item md-input-container, prm-user-area md-fab-toolbar .md-fab-action-item .md-button, prm-user-area md-fab-toolbar .md-fab-action-item md-input-container {
    color: #222;
}

/***************  Brief results  ******************/

/*color of the Alertbar*/
.bar.alert-bar, .classic-input .search-scope, .prm-alert-bg {
    /*background-color: #8dd8d8 !important;*/
    border: none !important;
}

/*backgound search results boxes*/
.list-item-wrapper {
    background-color: #f9f9f9;
}
/*Title color*/
prm-brief-result .item-title span {
    color: #333;
}

    prm-brief-result .item-title span:hover {
        color: #111;
        background-color: rgba(47, 47, 47, 0.1) !important;
    }

/*remove hover effect from title links*/
.md-button.arrow-link-button .button-content:focus, .md-button.arrow-link-button .button-content:hover, .md-button.arrow-link-button .hover.button-content, .md-button.arrow-link-button:focus .button-content, .md-button.arrow-link-button:hover .button-content, .recommendations-title.hover > span > span, .recommendations-title:hover > span > span, a.hover, a:focus, a:hover, prm-chapters-and-reviews md-card > .md-button:focus .item-title span, prm-chapters-and-reviews md-card > .md-button:hover .item-title span, prm-citation-trails-item.active-item md-card > .md-button:focus .item-title span, prm-citation-trails-item.active-item md-card > .md-button:hover .item-title span, prm-tags-list .md-chips .md-chip .md-chip-content:hover strong, prm-tags-list .md-chips md-chip .md-chip-content:hover strong, prm-tags-list md-chips .md-chip .md-chip-content:hover strong, prm-tags-list md-chips md-chip .md-chip-content:hover strong {
    box-shadow: none !important;
}

/*background color of bookmarked items*/
.list-item-wrapper .item-bookmarked, .list-item-wrapper .item-bookmarked:hover, .prm-highlight, .prm-highlight.prm-hue1, prm-breadcrumbs .md-chip.persistent-facet, prm-breadcrumbs .prm-hue1.md-chip.persistent-facet {
    background-color: #ddd !important;
}

/*hover effect on all Links*/
.md-button.arrow-link-button .button-content:focus, .md-button.arrow-link-button .button-content:hover, .md-button.arrow-link-button .hover.button-content,
.md-button.arrow-link-button:focus .button-content, .md-button.arrow-link-button:hover .button-content, .prm-links-background.prm-hue-1,
.recommendations-title.hover > span > span, .recommendations-title:hover > span > span, a.hover, a:focus, a:hover,
prm-chapters-and-reviews md-card > .md-button:focus .item-title span, prm-chapters-and-reviews md-card > .md-button:hover .item-title span,
prm-citation-trails-item.active-item md-card > .md-button:focus .item-title span, prm-citation-trails-item.active-item md-card > .md-button:hover .item-title span,
prm-tags-list .md-chips .md-chip .md-chip-content:hover strong, prm-tags-list .md-chips md-chip .md-chip-content:hover strong,
prm-tags-list md-chips .md-chip .md-chip-content:hover strong, prm-tags-list md-chips md-chip .md-chip-content:hover strong {
    color: #222 !important;
}

div.custom-links-container.layout-wrap.layout-align-sm-start-start.layout-align-center-start.layout-row > div > a:hover {
    background-color: #6b6b6b !important;
}

/*underlined search results*/
/*.text-highlight, mark {
    box-shadow: inset 0 -0.15em 0 0 #8dd8d8;
}*/

/*versions link and other*/
.getit, .md-button.arrow-link-button prm-search-result-frbr-line .button-content > prm-icon:first-child, .prm-notice, .status-maybe, .worldcat, [class*=_more], [class*=_unknown], [class*=check_], [class*=does_not_exist], [class*=may_], [class*=NFT], prm-search-result-frbr-line .md-button.arrow-link-button .button-content > prm-icon:first-child, prm-search-result-frbr-line a > prm-icon:first-child, prm-service-links a {
    color: #222 !important;
}
/*icon color and text color in request forms*/
.prm-primary-color, .request-form md-input-container label, .request-form md-input-container label:not(.md-no-float):not(._md-container-ignore), .request-form md-input-container md-select .md-select-value.md-select-placeholder, .request-form md-input-container .md-input-container-dummy > .md-select-dummy .md-select-value.md-select-placeholder, .request-form md-input-container md-select ._md-select-value._md-select-placeholder, .request-form md-input-container .md-input-container-dummy > .md-select-dummy ._md-select-value._md-select-placeholder, .result-item-actions .md-icon-button, .result-item-actions .more-options-button, prm-add-query-to-saved-searches .custom-button, prm-pre-filters md-input-container.is-active, .md-autocomplete-suggestions .suggestion-scope, md-tab-content .tab-content-header md-input-container md-select-value .md-text {
    color: #222 !important;
}
/*space between item details in Fullview*/
#item-details > div > div {
    margin-bottom: .8em !important;
}

/*background color of the signin window and the fullscreen navigation*/
md-backdrop._md-dialog-backdrop.md-opaque.md-primoExplore-theme {
    background-color: #1f1f1f !important;
}
/*text color of the signin window and the fullscreen navigation*/
prm-main-menu[menu-type=full] .md-button .md-headline, prm-main-menu[menu-type=full] .overlay-menu-item .md-headline, .light-on-dark-dialog .md-button.button-as-link, .light-on-dark-dialog .md-button.button-confirm {
    color: #fff !important;
}
/*hiding the Library Logo in the login window*/
.login-header {
    display: none;
}
/*alertbar for the courier info*/
.courier-info {
    margin: 0px 8px;
}
/*Library info icon*/
prm-location-items-after > div > span > a > img {
    vertical-align: middle;
    max-width: 30px;
    margin: 4px 12px;
}

/******************************************************************************/
/************************************ Help Page *******************************/
/******************************************************************************/
#help img {
    max-width: 100%;
    height: auto;
}

img.icon_up1 {
    width: 16px;
    float: right;
    margin: 13px 2px;
}

img.icon_up2 {
    width: 10px;
    float: right;
    margin: 4px;
}

a > h3:hover {
    background-color: #eee !important;
}

/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
/********************** End of the Central Package CSS ************************/
/******************************************************************************/
/******************************************************************************/
/******************************************************************************/




/*****************This two entries are the background of the primary color*******************/

.prm-primary-bg, prm-atoz-search-bar, prm-browse-search-bar, prm-collection-gallery-header .collection-header-inner, prm-search-bar, prm-newspapers-search-bar,
prm-spinner.overlay-cover.light-on-dark:after, prm-tags-search-bar, prm-tree-nav prm-spinner .diamond, .prm-primary-bg,
md-checkbox.md-checked ._md-icon, md-tabs md-ink-bar, md-radio-button.md-checked ._md-on, button.switch-to-simple, .md-button.button-confirm {
    background-color: #b5b5b5 !important;
}

@media (max-width: 599px) {
    prm-topbar .top-nav-bar {
        border-color: #b5b5b5 !important;
    }
}



/*****************This entry is the mouse over background of the links and buttons*******************/
md-card.prm-primary-bg.psfooter > md-card-content a:hover, md-icon.ps_icon:hover, a.ps_link:hover, a.ps_link.legal:hover, span.legal a:hover, button.switch-to-advanced:hover,
button.switch-to-simple:hover, .md-button.button-confirm:hover {
    /* background-color: #83dcd0 !important; */
    background-color: #121313 !important;
    color: #ffffff !important;
}




/*****************This two entries are the font color of the primary color*******************/

    .prm-primary-bg, prm-atoz-search-bar, prm-browse-search-bar, prm-collection-gallery-header .collection-header-inner, prm-newspapers-search-bar,
    prm-spinner.overlay-cover.light-on-dark:after, prm-tags-search-bar, prm-tree-nav prm-spinner .diamond, .prm-primary-bg, .md-button.switch-to-advanced, button.switch-to-simple,
    span.legal, span.legal > a, a.ps_link.legal, .ps_icon, md-card.prm-primary-bg.psfooter > md-card-content a, md-checkbox.md-checked ._md-icon, .md-button.button-confirm {
        color: #121313 !important;
    }

button.switch-to-advanced.zero-margin.button-with-icon.md-button.md-primoExplore-theme.md-ink-ripple {
    border-color: #121313 !important;
}



/*****************This two entries are the background of the secondary color*******************/

.bar.alert-bar, .classic-input .search-scope, .prm-alert-bg {
    background-color: #e88127 !important;
}

.text-highlight, mark {
    box-shadow: inset 0 -0.15em 0 0 #e88127;
}


/*****************This entry is the font color of the secondary color*******************/

.bar.alert-bar, .classic-input .search-scope, .prm-alert-bg, .bar prm-authentication .md-button, button.dismiss-alert-button, div.courier-info > span a {
    color: #ffffff !important;
    font-weight: 700;
}

