<div class="fees">
    <div class="courier-info bar alert-bar">
        <h4>{{$ctrl.usiConfigService.getLabel($ctrl.config, 'title')}}</h4>
        <p ng-bind-html="$ctrl.usiConfigService.getLabel($ctrl.config,'service')"></p>
        <p><a href="{{::$ctrl.usiConfigService.getLabel($ctrl.config, 'href')}}" target="_blank">{{$ctrl.usiConfigService.getLabel($ctrl.config, 'link')}}</a></p>
        <p ng-if="$ctrl.service=='request'">Bestellung (magazin oder Kurier)</p>
        <p ng-if="$ctrl.service=='partial'">Bestellung Digitalisierung</p>
<!--        <p ng-if="$ctrl.service=='illCopy'">Fernleihe Kopien</p>
        <p ng-if="$ctrl.service=='illBook'">Fernleihe Publikation</p>-->
        <p>{{$ctrl.usiConfigService.getLabel($ctrl.config, $ctrl.service)}}</p>
    </div>
</div>